.topbar{
    width: 100%;
    background-color: #c1fffa;
    height: 50px;
    display: inline-flex;
}

button{
    border: none;
    outline: none;
    height:42px;
    width:72px;
    color: #11548c;
    margin:auto 0 auto 4px;
    background-color: #8aa8b4;
}
button:hover{
    color: #11548c;
    background-color: #c1c4c8;
}
.topbarElement{
    height:42px;
    color: #11548c;
    width:112px;
    margin:auto 0 auto 4px;
    align-content: center;
    display: flex;
}
.topbarText{
    vertical-align: center;
    text-align: center;
}
.connectionDiv{
    padding:8px;
    background-color: #c5cfcc;
    display:flex;
}
#status{

}
video{
    width:320px;
    height: 240px;
    background-color:black;
}