extends layout.jade
block topbar
    button(onclick ='start()') Start Video
    div(class='topbarElement')
        div(class='topbarText') Status:
        div(id='status')
block content
    script(src='https://webrtc.github.io/adapter/adapter-latest.js')
    script(src='/client.js')
    p client page
    video(id="localVideo" autoplay muted)
    script.
        onLoad();


