extends layout.jade
block topbar
    button(onclick ='start()') Start
    div(class='topbarElement')
        div(class='topbarText') Status:
        div(id='status')
block content
    script(src='https://webrtc.github.io/adapter/adapter-latest.js')
    script(src='/webRtc.js')
    p server page
    script.
        onLoad();
    .videoDiv
        #connectionsContainer
